body {
  background: #f3f3f3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 450px;
  margin: auto;
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
}

button {
  padding: 10px;
  border: none;
  background: #008cff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #006ed3;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eaeaea;
  padding: 10px;
  margin-top: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.privado {
  filter: blur(6px);
}

.smallBtn {
  background: #333;
  padding: 5px 8px;
  font-size: 12px;
  color: white;
  border-radius: 6px;
  margin-left: 6px;
  border: none;
  cursor: pointer;
}
