body {
    background: #f1f1f1;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

#app {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
}

button {
    width: 80%;
    padding: 12px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: #4285F4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #3367D6;
}

#userPhoto {
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
}
